<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>
<div class="container">
    <input type="text" #firstname>
    <button (click)="getFirstname(firstname)">GetFirstname</button>
    <br><br><br><br>
    <select id="inputID" [(ngModel)]="counter" class="form-control">
        <option value=""> -- Select One --</option>
        <option value="1">Vorname</option>
        <option value="2">Nachname</option>
        <option value="3">Email</option>
        <option value="4">Message</option>
    </select>
    <br><br><br>
    <div style="text-align:center" [ngSwitch]="counter">
        <form action="" method="post" role="form" (submit)="submitUserdata()">
            <legend>Userdaten</legend>

            <div class="form-group" *ngSwitchCase="1">
                <label for="">Vorname</label>
                <input type="text" class="form-control" [(ngModel)]="userdata.firstname" name="firstname" id=""
                       placeholder="Input...">
            </div>
            <div class="form-group" *ngSwitchCase="2">
                <label for="">Nachname</label>
                <input type="text" class="form-control" [(ngModel)]="userdata.lastname" name="lastname" id=""
                       placeholder="Input...">
            </div>
            <div class="form-group" *ngSwitchCase="3">
                <label for="">Email</label>
                <input type="text" class="form-control" [(ngModel)]="userdata.email" name="email" id=""
                       placeholder="Input...">
            </div>

            <div class="form-group" *ngSwitchCase="4">
                <label for="">Message</label>
                <textarea name="message" class="form-control" [(ngModel)]="userdata.message" id="" cols="30"
                          rows="10"></textarea>
            </div>


            <button type="submit" class="btn btn-primary">Submit</button>

            <p>{{userdata.firstname}}</p>
            <p>{{userdata.lastname}}</p>
            <p>{{userdata.email}}</p>
            <p>{{userdata.message}}</p>
        </form>
    </div>
</div>
    <button (click)="bla.checkVar()">Klick</button>


<app-bla [myVar]="myCounter" #bla [name]="'TEEEEST'"  (myEvent)="submitUserdata()"></app-bla>

